.aboutus{
    background-color: cyan;
    font-size: large;
    
    font-weight: bold;
    font-style: normal;
    border: lightblue;
    border-style: dotted;
}
.followus{
    background-color: cyan;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    border: lightblue;
    border-style: dotted;
}
.camel{
    background-color: cyan;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    border: lightblue;
    border-style: dotted;
}
.teddybear{
    background-color: cyan;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    border: lightblue;
    border-style: dotted;
}
.panda{ 
    background-color: cyan;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    border: lightblue;
    border-style: dotted;
}